[workspace]
authors = ["Leon Welchert <lichturm@posteo.de>"]
channels = ["conda-forge"]
name = "bilbiophage-data-server"
platforms = ["linux-64"]
version = "0.1.0"

[tasks.dev]
# Run the data-server
cmd = [
  "./server-runscript.sh"
]

[tasks.gen_proto]
cmd = [
  "python", "-m", "grpc_tools.protoc",
  "--proto_path=../api",
  "--connect-python_out=./",
  "--python_out=./",
  "--pyi_out=./",
  "../api/bibliophage/v1alpha1/*.proto"
]
description = "Generate protobuf code"

[tasks.touch_inits]
cmd = [
  "touch", "bibliophage/__init__.py",
  "touch", "bibliophage/v1alpha1/__init__.py"
]
description = "Create __init__.py files"

[tasks.api]
depends-on = ["gen_proto", "touch_inits"]

[tasks.lint]
depends-on = ["ruff", "ty"]

[tasks.ruff]
cmd = [
    "ruff", "check",
    "--select", "ALL"
]

[tasks.ty]
cmd = [
    "ty", "check",
]

[dependencies]
python = ">=3.13.9,<3.14"
langchain-postgres = ">=0.0.15,<0.0.16"
langchain-huggingface = ">=0.3.1, <0.4"
pypdf = ">=6.1.3,<7"

grpcio = "==1.71.0"
grpcio-tools = "==1.71.0"
grpcio-reflection = "==1.71.0"
fastapi = ">=0.121.2,<0.122"
uvicorn = ">=0.38.0,<0.39"
ruff = ">=0.14.8,<0.15"

[pypi-dependencies]
langchain-community = ">=0.3.31, <0.4"
langchain = ">=0.3.27, <0.4"
langchain-core = ">=0.3.79, <0.4"

# needed during execution
connect-python = ">=0.5.0, <0.6"
# needed for code generation
protoc-gen-connect-python = ">=0.5.0, <0.6"
ty = ">=0.0.1a32, <0.0.1a33"

